In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import time
import pandas as pd

### Daten

In [2]:
ort = "Magdeburg"
bundesland = "Sachsen-Anhalt"
immobilie = "Grundstueck"
art = "kaufen"

In [3]:
driver = webdriver.Firefox()

masterurl = 'https://www.immobilienscout24.de/Suche/de/' + str.lower(bundesland) + '/' + str.lower(ort) + '/' + str.lower(immobilie) + '-' + str.lower(art)

driver.get(masterurl)

time.sleep(15)

soup = BeautifulSoup(driver.page_source, 'html.parser')

listings = soup.find(id="resultlistpage")
pages = soup.find_all(class_="p-items")
teilbarab = soup.find_all(class_="font-tabular onlyLarge font-xs attribute-label")

active_page = soup.find(class_="p-items p-active")
active_page = [str(x) for x in active_page]
active_page = int(active_page[0][-5:-4])

last_page = pages[-2:-1]
last_page = [str(x) for x in last_page]
last_page = int(last_page[0][-10:-9])

In [4]:
df_final = pd.DataFrame()
df_final_0 = pd.DataFrame()

while active_page < last_page:

    priceqm = listings.find_all(attrs={"class":"font-highlight font-tabular"})
    location = listings.find_all(attrs={"class":"result-list-entry__map-link link-text-secondary font-normal font-ellipsis"})

    location = [str(x) for x in location]
    location = [x.replace('<button class="result-list-entry__map-link link-text-secondary font-normal font-ellipsis" data-result-id="', '') for x in location]
    location = [x.replace('" title="Auf der Karte anzeigen"><span class="s24-icons-s24_location_pin_1_24 result-list-entry__map-link__icon inline-block margin-right-xs"></span>', '') for x in location]
    location = [x.replace('</button>', '') for x in location]
    obj_id = [x[0:9] for x in location]
    location = [x[9:] for x in location]

    priceqm = [str(x) for x in priceqm]
    priceqm = [x.replace('<dd class="font-highlight font-tabular">', '') for x in priceqm]
    priceqm = [x.replace('</dd>', '') for x in priceqm]
    priceqm = [x.replace('<span><span class="desk-hide lap-hide">€ a. A.</span><span class="palm-hide">Kaufpreis</span></span>', '0') for x in priceqm]
    priceqm = [x.replace(' €', '')for x in priceqm]
    priceqm = [x.replace(' m²', '') for x in priceqm]
    priceqm = [x.replace('.', '')for x in priceqm]
    priceqm = [x.replace(',', '.')for x in priceqm]   

    result = []
    for x in priceqm:
        try:
            result.append(float(x))
        except:
            result.append(0.0)
    priceqm = result

    teilbarab = [str(x) for x in teilbarab]
    teilbarab = [x.replace('<dt class="font-tabular onlyLarge font-xs attribute-label">', '') for x in teilbarab]
    teilbarab = [x.replace('</dt>', '') for x in teilbarab]
    if "Teilbar ab" in teilbarab:
        index_teilbarab = [teilbarab.index("Teilbar ab")]

        for index in sorted(index_teilbarab, reverse=True):
            del priceqm[index]

    price = []
    area =[]
    price_per_qm = []

    for index in range(len(priceqm)):
        if index % 2 == 0:
            price.append(priceqm[index])
        else:
            area.append(priceqm[index])

    for index in range(len(price)):
        if price[index] != 0 and area[index] != 0:
            price_per_qm.append(price[index] / area[index])
        else:
            price_per_qm.append(0)

    data = {
        "Preis in €" : price,
        "Grundstücksfläche in m²" : area,
        "Preis/m²" : price_per_qm,
        "Ort" : location,
        "ImmoScout24 Objekt Id" : obj_id    
        }

    df = pd.DataFrame(data)

    df_sorted = df[df["Preis/m²"] != 0]
    df_sorted_0 = df[df["Preis/m²"] == 0]

    df_final = pd.concat([df_final, df_sorted])
    df_final_0 = pd.concat([df_final_0, df_sorted_0])

    active_page = soup.find(class_="p-items p-active")
    active_page = [str(x) for x in active_page]
    active_page = int(active_page[0][-5:-4])

    if active_page < last_page:

        url = masterurl + "?pagenumber=" + str(active_page + 1)

        driver.get(url)

        time.sleep(3)

        soup = BeautifulSoup(driver.page_source, 'html.parser')

        listings = soup.find(id="resultlistpage")
        pages = soup.find_all(class_="p-items")
        teilbarab = soup.find_all(class_="font-tabular onlyLarge font-xs attribute-label")

        url = masterurl

In [5]:
df_final = df_final.reset_index(drop=True)

In [6]:
df_final_filtered = df_final[df_final["Ort"].str.contains(ort)]
df_final_filtered

,Preis in €,Grundstücksfläche in m²,Preis/m²,Ort,ImmoScout24 Objekt Id
0,116380.0,529.0,220.000000,"Beyendorf-Sohlen, Magdeburg",147032891
1,184140.0,837.0,220.000000,"Beyendorf-Sohlen, Magdeburg",147032718
2,1180740.0,5367.0,220.000000,"Beyendorf-Sohlen, Magdeburg",147515781
3,273000.0,700.0,390.000000,"Nordwest, Magdeburg",140797793
4,199000.0,733.0,271.487040,"Diesdorf, Magdeburg",150700509
5,1470000.0,11206.0,131.179725,"Neue Neustadt, Magdeburg",153238507
6,1470000.0,11206.0,131.179725,"Neue Neustadt, Magdeburg",153238340
7,139000.0,510.0,272.549020,"Florian-Geyer-Straße 48, Sudenburg, Magdeburg",152194771
8,155000.0,600.0,258.333333,"Neue Neustadt, Magdeburg",153152035
9,205000.0,900.0,227.777778,"Cracau, Magdeburg",153152037
10,1250000.0,637.0,1962.323391,"Alte Neustadt, Magdeburg",138459460
11,485000.0,1518.0,319.499341,"Nordwest, Magdeburg",151931431
12,220000.0,794.0,277.078086,"Berliner Chaussee, Magdeburg",146504022
13,140000.0,490.0,285.714286,"Ottersleben, Magdeburg",146878265
14,200000.0,693.0,288.600289,"Ottersleben, Magdeburg",146235312
15,181800.0,606.0,300.000000,"Lemsdorf, Magdeburg",134974449
16,268800.0,7680.0,35.000000,"Klusdamm -, Prester, Magdeburg",151747368
17,300000.0,1000.0,300.000000,"Diesdorf, Magdeburg",146971387
18,290000.0,1900.0,152.631579,"Salbke, Magdeburg",151636733
19,410000.0,522.0,785.440613,"Alte Neustadt, Magdeburg",150939219
20,180000.0,500.0,360.000000,"Diesdorf, Magdeburg",146971843
21,136000.0,350.0,388.571429,"Nordwest, Magdeburg",146701928
22,268000.0,899.0,298.109010,"Nordwest, Magdeburg",140798475
23,145000.0,950.0,152.631579,"Salbke, Magdeburg",151664093
24,315000.0,932.0,337.982833,"Neu Olvenstedt, Magdeburg",144425577
25,150000.0,410.0,365.853659,"Diesdorf, Magdeburg",153291484
26,8500.0,1694.0,5.017710,"Saarbrücker Straße, Salbke, Magdeburg",153277144
27,299000.0,680.0,439.705882,"Hopfengarten, Magdeburg",153159084
28,179000.0,850.0,210.588235,"Kannenstieg, Magdeburg",152822177
29,399000.0,1335.0,298.876404,"Diesdorf, Magdeburg",153159582
30,255000.0,180.0,1416.666667,"Buckau, Magdeburg",153093365
31,1100000.0,2042.0,538.687561,"Neu Olvenstedt, Magdeburg",153092121
32,159300.0,531.0,300.000000,"Lemsdorf, Magdeburg",145255062
33,1400000.0,2500.0,560.000000,"Leipziger Straße, Magdeburg",152966938
34,240000.0,885.0,271.186441,"Salbke, Magdeburg",152681459
35,253600.0,1168.0,217.123288,"An der Saale 7, Altstadt, Magdeburg",152112859
36,254600.0,1173.0,217.050298,"An der Saale 7, Altstadt, Magdeburg",152112691
37,159000.0,575.0,276.521739,"Tucholskystr. 26, Sudenburg, Magdeburg",152105201
38,175000.0,498.0,351.405622,"Weizengrund, Alt Olvenstedt, Magdeburg",149167448
39,134100.0,1341.0,100.000000,"Hauptstraße 1, Pechau, Magdeburg",148359854
40,99900.0,782.0,127.749361,"Zur Alten Elbe 0, Randau-Calenberge, Magdeburg",143713454
41,184200.0,840.0,219.285714,"Beyendorf-Sohlen, Magdeburg",145271735
42,160000.0,1485.0,107.744108,"Barleber See, Magdeburg",146440237
43,221150.0,852.0,259.565728,"Greifswalder Straße, Neue Neustadt, Magdeburg",144349081
44,1881490.0,19005.0,98.999737,"Alt Olvenstedt, Magdeburg",136466895

In [7]:
df_final_filtered.describe()

         Preis in €  Grundstücksfläche in m²     Preis/m²
count  4.500000e+01                45.000000    45.000000
mean   3.976600e+05              2019.666667   332.624827
std    4.503977e+05              3564.841989   331.491881
min    8.500000e+03               180.000000     5.017710
25%    1.593000e+05               600.000000   217.050298
50%    2.200000e+05               850.000000   272.549020
75%    3.000000e+05              1341.000000   337.982833
max    1.881490e+06             19005.000000  1962.323391

In [8]:
df_final_0 = df_final_0.reset_index(drop=True)

In [9]:
df_final_filtered_0 = df_final_0[df_final_0["Ort"].str.contains(ort)]
df_final_filtered_0

,Preis in €,Grundstücksfläche in m²,Preis/m²,Ort,ImmoScout24 Objekt Id
0,0.0,429.00,0.0,"Neue Neustadt, Magdeburg",141622336
1,0.0,600.00,0.0,"Neue Neustadt, Magdeburg",153152033
2,114898.0,0.00,0.0,"Beyendorf-Sohlen, Magdeburg",146235295
3,0.0,4901.00,0.0,"Rothenseer Straße 68, Neue Neustadt, Magdeburg",150140263
4,0.0,5810.00,0.0,"Herrenkrug, Magdeburg",150592731
5,0.0,770.00,0.0,"Kümmelsberg, Stadtfeld West, Magdeburg",147203512
6,0.0,858.25,0.0,"Neue Neustadt, Magdeburg",145224236
7,0.0,685.25,0.0,"Neue Neustadt, Magdeburg",145223650
8,0.0,663.00,0.0,"Lemsdorf, Magdeburg",134395487
9,0.0,575.00,0.0,"Lemsdorf, Magdeburg",134394292
10,0.0,602.00,0.0,"Lemsdorf, Magdeburg",134393173

In [10]:
driver.quit()